In [19]:
import pandas as pd

In [20]:
dt = pd.read_csv(" https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [21]:
dt.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [22]:
#Q1
pd.__version__

'2.2.3'

In [23]:
#Q2
len(dt.index)

9704

In [24]:
#Q3
dt["fuel_type"].nunique()

2

In [63]:

dt.nunique()

engine_displacement      36
num_cylinders            14
horsepower              192
vehicle_weight         9704
acceleration            162
model_year               24
origin                    3
fuel_type                 2
drivetrain                2
num_doors                 9
fuel_efficiency_mpg    9704
dtype: int64

In [62]:
#Q4
dt.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [29]:
dt["num_doors"].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
9699     True
9700    False
9701    False
9702    False
9703    False
Name: num_doors, Length: 9704, dtype: bool

In [65]:
#Q5
new_dt = dt[dt["origin"] == "Asia"]

In [64]:
new_dt.max()

engine_displacement                  370
num_cylinders                       11.0
horsepower                         245.0
vehicle_weight               4661.144932
acceleration                        22.7
model_year                          2023
origin                              Asia
fuel_type                       Gasoline
drivetrain             Front-wheel drive
num_doors                            4.0
fuel_efficiency_mpg            23.759123
dtype: object

In [69]:
#Q6
dt.horsepower.median()

np.float64(149.0)

In [66]:
dt.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

In [67]:
dt.mode()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,190.0,4.0,152.0,952.681761,15.6,2003.0,Europe,Gasoline,All-wheel drive,0.0,6.200971
1,NaN,NaN,NaN,1066.328301,NaN,NaN,NaN,NaN,NaN,NaN,6.676475
2,NaN,NaN,NaN,1223.298226,NaN,NaN,NaN,NaN,NaN,NaN,6.695483
3,NaN,NaN,NaN,1314.839625,NaN,NaN,NaN,NaN,NaN,NaN,6.762991
4,NaN,NaN,NaN,1336.444231,NaN,NaN,NaN,NaN,NaN,NaN,6.805975
...,...,...,...,...,...,...,...,...,...,...,...
9699,NaN,NaN,NaN,4610.973229,NaN,NaN,NaN,NaN,NaN,NaN,23.369176
9700,NaN,NaN,NaN,4643.568672,NaN,NaN,NaN,NaN,NaN,NaN,23.556075
9701,NaN,NaN,NaN,4661.144932,NaN,NaN,NaN,NaN,NaN,NaN,23.759123
9702,NaN,NaN,NaN,4726.977269,NaN,NaN,NaN,NaN,NaN,NaN,24.971452
9703,NaN,NaN,NaN,4739.077089,NaN,NaN,NaN,NaN,NaN,NaN,25.967222

In [56]:
filled_dt = dt.horsepower.fillna(152.0)

In [57]:
filled_dt

0       159.0
1        97.0
2        78.0
3       152.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [58]:
filled_dt.median()

np.float64(152.0)

In [59]:
asia_dt = dt[dt["origin"] == "Asia"]

In [60]:
top_sev_asia = asia_dt[["vehicle_weight", "model_year"]].head(n=7)

In [61]:
X = top_sev_asia.values